/* CSS reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

body {
    background-color:#98AFC7;
}

.content {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.header_bg {
    min-height:10px;
    overflow:hidden;
    /*background-color:#FFFF9A;*/
    background-color:#B0E0E6;
}

.header {
    min-height:10px;
    overflow:hidden;
    width:100%;
    float:left;
    clear:both;
    padding:20px 0px 0px 0px;
}

.navbar {
    width:960px;
    min-height:10px;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:10px;
}

.navelement {
    width:145px;
    margin:5px 0px 5px 0px;
    padding:0px 22px 0px 22px;
    float:left;
    text-align:center;
}

.navelement a {
    color:#E55B3C;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    text-decoration:none;
}

.navelement a:hover {
    color:#F9966B;
}
            
.title {
    width:950px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.title h1{
    color:#EE7601;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.title p{
    color:#E56717;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size:12px;
    font-weight:bold;
}

.main_bg {
    min-height:10px;
    overflow:hidden;
    background-color:#FFFAFA;
}

.main {
    min-height:500px;
    overflow:hidden;
    width:100%;
    float:left;
    clear:both;
    padding:10px 0px 10px 0px;
    text-align:center;
}

#whyus {
  min-height:10px;
  overflow:hidden;
  width:580px;
  margin:20px 10px 10px 10px;
  text-align:center;
  float:left;
}

#whyus p {
  color:#D18301;
  font-family:Gill Sans, sans-serif;
}

#whyus h3 {
  color:#D18301;
  font-family:Oldtown, fantasy;
  font-weight:bold
  font-variant:small-caps;
}

#sidebar {
  background-color:red;
  min-height:100px;
  overflow:hidden;
  width:380;
  margin:20px 10px 10px 10px;
  float:right;
}

#carousel_holder {
  width:940px;
  height:403px;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  border-style:solid;
  /*border-color:#B7AB0B;
  background-color:#B7AB0B;*/
  border-color:#E56717;
  background-color:#E56717;
  overflow:hidden;
}

#carousel {
  width:941px;
  height:322px;
  overflow:hidden;
}
  
  #carousel div {
    width:941px;
    height:322px;
    float:left;
  }

#carousel_index {
  width:941px;
  height:80px;
  overflow:hidden;
}

.carousel_index_holder {
  width:233px;
  height:80px;
  float:left;
  margin:3px 1px 0px 1px;
  background-color:#FFF;
}

.footer_bg {
  min-height:10px;
  overflow:hidden;
  background-color:#AF7817;
}

.footer {
    min-height:150px;
    overflow:hidden;
    width:100%;
    padding:20px 0px 50px 0px;
    float:left;
    clear:both;
}

.sitemap {
  float:left;
  clear:both;
  left:10%;
}

  .sitemap p {
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
  }

  .sitemap a {
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
  }

  .sitemap a:hover {
    color:#ffa;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
  }

.copyright {
  float:right;
  clear:both;
}

  .copyright p {
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
  }
